%table
  %tbody
    %tr
      %td What?
      %td From?
      %td Where?
      %td Ordered at
      %td Status
    - orders.each do |order|
      %tr.order
        %td= order.item_desc
        %td= order.from
        %td= order.to
        %td= order.created_at
        %td= order.status
