= form.text_field :to, placeholder: 'To', id: 'to_deliver_location'
= form.text_field :from, placeholder: 'From'
= form.text_area :item_desc, placeholder: 'What'
= form.hidden_field :geo_latitude
= form.hidden_field :geo_longitude