!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://js.api.here.com/se/2.5.4/jsl.js'
    = csrf_meta_tags
  %body
    = yield